<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route mt-0">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full" style="background-color: #f5f5f5;">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left font-primary">
                    Contactarme
                  </h5>
                </div>
                <div *ngIf="sent === 'Yes'" class="alert alert-success alert-dismissible fade show" role="alert">
                  <i style="margin-right: 5px;" class="bi bi-check-circle"></i> <strong>Mensaje enviado.</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div *ngIf="sent === 'No'" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <i style="margin-right: 5px;" class="bi bi-exclamation-diamond"></i> <strong>No se pudo enviar el
                    mensaje.</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="font-secondary">
                  <form [formGroup]="formContact" (ngSubmit)="onSubmit($event)">
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            [hidden]="!formContact.get('name')?.hasError('required') && !formContact.get('name')?.hasError('whitespace') || formContact.get('name')?.pristine">
                            <i style="margin-right: 5px;" class="bi bi-exclamation-diamond"></i> <strong>El nombre es
                              obligatorio.</strong>
                          </div>
                          <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            [hidden]="!formContact.get('name')?.hasError('maxlength')">
                            <i style="margin-right: 5px;" class="bi bi-exclamation-diamond"></i> <strong>El nombre no
                              puede tener más de 50 caracteres.</strong>
                          </div>
                          <input type="text" formControlName="name" name="name" class="form-control" id="name"
                            placeholder="Tu nombre..." required>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            [hidden]="!formContact.get('email')?.hasError('required') || formContact.get('email')?.pristine">
                            <i style="margin-right: 5px;" class="bi bi-exclamation-diamond"></i> <strong>El email es
                              obligatorio.</strong>
                          </div>
                          <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            [hidden]="!formContact.get('email')?.hasError('email')">
                            <i style="margin-right: 5px;" class="bi bi-exclamation-diamond"></i> <strong>El email es
                              inválido.</strong>
                          </div>
                          <input type="email" formControlName="email" class="form-control" name="email" id="email"
                            placeholder="Tu email..." required>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            [hidden]="!formContact.get('message')?.hasError('required') && !formContact.get('message')?.hasError('whitespace') || formContact.get('message')?.pristine">
                            <i style="margin-right: 5px;" class="bi bi-exclamation-diamond"></i> <strong>El mensaje es
                              obligatorio.</strong>
                          </div>
                          <div class="alert alert-danger alert-dismissible fade show" role="alert"
                            [hidden]="!formContact.get('message')?.hasError('maxlength')">
                            <i style="margin-right: 5px;" class="bi bi-exclamation-diamond"></i> <strong>El mensaje no
                              puede tener más de 500 caracteres.</strong>
                          </div>
                          <textarea class="form-control" formControlName="message" name="message" rows="5"
                            placeholder="Tu mensaje..." required></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 text-center mt-3">
                        <button type="submit" class="button button-a button-sm button-rouded"
                          [ngClass]="{'disabled' : formContact.invalid}" [disabled]="formContact.invalid">Enviar
                          mensaje</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div *ngIf="contact" class="col-md-6 font-secondary">
                <div class="title-box-2 pt-2 pt-md-0 mb-3">
                  <h5 class="title-left font-primary">
                    Información
                  </h5>
                </div>
                <div class="more-info mt-5">
                  <ul class="list-ico">
                    <li><span class="bi bi-geo-alt"></span><strong>{{contact.address}}</strong></li>
                    <li class="d-flex">
                      <div><span class="bi bi-envelope"></span><strong>{{contact.email}}</strong></div> <button
                        style="margin-left: 9px;" type="button"
                        class="btn {{currentColorButton}} btn-sm border-button-copy"
                        [cdkCopyToClipboard]="contact.email" (click)="changeIcon()"><i
                          class="bi {{currentIcon}}"></i></button>
                    </li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <li>
                      <a title="GitHub" class="ico-circle" href='{{contact.gitHubURL}}' target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                      </a>
                    </li>
                    <li>
                      <a title="LinkedIn" class="ico-circle" href='{{contact.linkedInURL}}' target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a title="CV" class="ico-circle" href='{{contact.cvURL}}' target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-file-person-fill"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div *ngIf="!contact" class="col-md-6 font-secondary">
                <div class="title-box-2 pt-2 pt-md-0 mb-3">
                  <h5 class="title-left font-primary">
                    Información
                  </h5>
                </div>
                <div class="more-info mt-5">
                  <ul class="list-ico placeholder-wave">
                    <li>
                      <span class="placeholder col-8 placeholder-lg"></span>
                    </li>
                    <li class="d-flex">
                      <span class="placeholder col-8 placeholder-lg"></span>
                    </li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <span class="placeholder col-6 placeholder-lg"></span>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>