<div id="hero" class="hero route bg-image" style="background-image: url({{banner?.URL}});">
  <div class="overlay-itro"></div>
  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container font-primary">
        <div *ngIf="banner?.URL; then uploadedBanner else notUploadedBanner"></div>
        <ng-template #uploadedBanner>
          <h1 style="color: #f5f5f5;" class="hero-title mb-4">
            ¡Bienvenidos <br />
            a mi Portfolio!
          </h1>
        </ng-template>
        <ng-template #notUploadedBanner>
          <div class="text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>