<nav class="navbar custom-navbar navbar-expand-lg navbar-dark fixed-top font-primary font-bold"
  (scroll)="onWindowScroll();">
  <div class="container">
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#hero" (click)="cerrarMenu()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" (click)="cerrarMenu()">Acerca de mí</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#studies" id="btn-dropdown-studies" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Estudios
          </a>
          <ul class="dropdown-menu" aria-labelledby="btn-dropdown-studies" style="background-color: #212529;">
            <li><a class="dropdown-item submenu" href="#careers" (click)="cerrarMenu()">Carreras y tecnicaturas</a></li>
            <li><a class="dropdown-item submenu" href="#courses" (click)="cerrarMenu()">Cursos y capacitaciones</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#experience" id="btn-dropdown-experience" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Experiencia
          </a>
          <ul class="dropdown-menu" aria-labelledby="btn-dropdown-experience" style="background-color: #212529;">
            <li><a class="dropdown-item submenu" href="#works" (click)="cerrarMenu()">Laboral</a></li>
            <li><a class="dropdown-item submenu" href="#projects" (click)="cerrarMenu()">Proyectos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#knowledge" (click)="cerrarMenu()">Conocimientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" (click)="cerrarMenu()">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>