.bg-dark {
    transition: all 1s ease;
}

.submenu {
    text-decoration: none;
    color: #9a9c9e;
}

.custom-navbar {
    height: 80px;
}

@media (max-width:991.98px) {
    .custom-navbar {
        height: auto;
        /* Restaura la altura automática en pantallas pequeñas */
    }

    nav {
        background-color: #212529
    }
}