<div *ngIf="work" class="resume-item">
  <div class="h6 font-tertiary"> <strong>{{work.name}}</strong></div>
  <div *ngIf="work.isCurrentJob">
    <h5><i class="bi bi-calendar3"></i> {{work.startDate}} -<em>Actualidad</em></h5>
  </div>
  <div *ngIf="!work.isCurrentJob">
    <h5><i class="bi bi-calendar3"></i> {{work.startDate}} - {{work.endDate}}</h5>
  </div>
  <p><i class="bi bi-building margin-building-icon"></i> <em>{{work.business}}</em></p>
  <p>{{work.description}}</p>
  <div class="work-technologies">
    <i class="bi bi-pc-display-horizontal pc-display-horizontal-icon"></i>
    <img class="technology-logo" [src]="work.technologies[0]">
    <img class="technology-logo" [src]="work.technologies[1]">
    <img class="technology-logo" [src]="work.technologies[2]">
  </div>
</div>