.resume-item {
    padding: 0 0 0.2em 20px !important;
    margin-top: -2px;
    border-left: 2px solid #232528;
    position: relative;
}

.work-technologies {
    display: flex;
    align-items: center;
}

.technology-logo {
    width: 75px;
    height: auto;
    margin-right: 7px;
}