<div *ngIf="career" class="resume-item">
  <h4>{{career.careerTypeName}} en {{career.name}}</h4>
  <div *ngIf="career.isFinished">
    <h5><i class="bi bi-calendar3 margin-calendar-icon"></i>{{career.startDate}} - {{career.endDate}}</h5>
  </div>
  <div *ngIf="!career.isFinished">
    <h5><i class="bi bi-calendar3"></i> {{career.startDate}} - <em>En curso</em></h5>
  </div>
  <div>
    <p><i class="bi bi-building margin-building-icon"></i> <em>{{career.instituteUniversity}}</em></p>
  </div>
  <p>{{career.description}}</p>
  <div *ngIf="!career.isFinished">
    <p><i class="bi bi-journals"></i> Materias aprobadas: {{career.approvedSubjects}} - Materias totales: {{career.totalSubjects}}</p>
  </div>
  <div *ngIf="career.isFinished">
    <p><i class="bi bi-mortarboard"></i> Graduado</p>
  </div>
  <a href='{{career.studyPlanURL}}' target="_blank">
    <button class="btn btn-dark btn-sm" type="button">
      Ver Plan de Estudio
    </button>
  </a>
</div>