<div *ngIf="course" class="resume-item">
  <h4>{{course.title}}</h4>
  <div *ngIf="course.isApproved">
    <h5><i class="bi bi-calendar3"></i> {{course.startDate}} - {{course.endDate}}</h5>
  </div>
  <div *ngIf="!course.isApproved">
    <h5><i class="bi bi-calendar3"></i> {{course.startDate}} - <em>En curso</em></h5>
  </div>
  <p><i class="bi bi-building margin-building-icon"></i> <em>{{course.InstituteUniversity}}</em></p>
  <p>{{course.description}}</p>
  <a href='{{course.certificateURL}}' target="_blank">
    <button class="btn btn-dark btn-sm" type="button">
      Ver Certificado
    </button>
  </a>
</div>