<div *ngIf="project" class="resume-item">
  <h4>{{project.name}}</h4>
  <div *ngIf="project.isFinished">
    <h5><i class="bi bi-calendar3"></i> {{project.startDate}} - {{project.endDate}}</h5>
  </div>
  <div *ngIf="!project.isFinished">
    <h5><i class="bi bi-calendar3"></i> {{project.startDate}} - <em>En curso</em></h5>
  </div>
  <p><i class="bi bi-building margin-building-icon"></i> <em>{{project.business}}</em></p>
  <p>{{project.description}}</p>
  <div class="project-technologies mb-2">
    <i class="bi bi-pc-display-horizontal pc-display-horizontal-icon"></i>
    <img class="technology-logo" [src]="project.technologies[0]">
    <img class="technology-logo" [src]="project.technologies[1]">
    <img class="technology-logo" [src]="project.technologies[2]">
  </div>
  <a href='{{project.evidenceURL}}' target="_blank">
    <button class="btn btn-dark btn-sm" type="button">
      Ver Evidencia
    </button>
  </a>
</div>